*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.corousel{
    padding: 5rem;
    background-color: black;
    color: #ffffff;
    height: 100vh;
    width: 100vw;
}
.box{
    background-color: lightgreen;
    height: 300px;

}
.box h3{
    text-align: center;
}
.slick-slide div{
    margin: 0 1rem;
}

body{
    background-color: black;
}

.slick-dots li.slick-active button:before{
    color: #19f5aa !important;
}
.slick-dots li button::before{
    color: #ffffff !important;
    font-size: 1rem !important;
    top: 2rem !important;
}