.corousel{
    overflow: hidden;
    background-color: black;
    color: #ffffff;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.box{
    margin: 0 auto;
    background-color: lightgreen;
    height: 300px;

}
.box h3{
    text-align: center;
}
.slick-slide div{
    margin: 0rem 0rem !important;
}

body{
    background-color: black;
}

.slick-dots li.slick-active button:before{
    color: #19f5aa !important;
    margin: 1rem !important;
}
.slick-dots li button::before{
    color: #ffffff !important;
    font-size: 1rem ;
    top: 2rem !important;
}
.carousel-slider{
        margin: 0 auto
}
.carousel-box{
    padding-bottom: 60px;
}