.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 10vh;
    padding-right: 10vh;
    background-color: var(--color-our-blue);
    color: var(--color-white);
}

.footer .column {
    display: flex;
    justify-content: center;
    /* horizontally center */
    align-items: center;
    /* vertically center */
    flex: 1;
    margin-right: 20px;
    overflow: auto;
}

.footer .column:last-child {
    margin-right: 0;
}

.footer img {
    max-width: 100%;

}

.footer .social-icons {
    display: flex;
    gap: 10px;
}

.footer .contact-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer .contact-info a {
    color: #fff;
    text-decoration: none;
}

.footer .hours,
.footer p {
    margin: 0;
    margin-top: 10px;
    font-size: 19px;
}

.footer-logo {
    width: 30vh;
}

.tit_alt {
    font-size: 6vh;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon-tw {
    font-size: 28px;
    /* Adjust this value to change the size of the icons */
    margin-right: 10px;
    /* Add some space between the icons */
}

.social-icon-fa {
    font-size: 28px;
    /* Adjust this value to change the size of the icons */
    margin-right: 3px;
    /* Add some space between the icons */
}

.rappi-logo {
    height: 22px;
    /* Make the logo the same height as the icons */
    padding-bottom: 2px;
    padding-top: 1vh;
    padding-left: 1vh;
    width: 40px;
    /* Set the width of the Rappi logo */
    height: 40px;
    /* Set the height of the Rappi logo */
}

@media (max-width: 600px) {
    .column:has(img) {
        display: run-in;
    }

    .footer {
        flex-direction: column;
    }

    .footer .column img {
        max-width: 100%;
        /* Ensure images scale down to fit their container */
    }

    .footer .column {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer .column:last-child {
        margin-bottom: 0;
    }

    .footer .contact-info,
    .footer .hours,
    .footer p {
        font-size: 14px;
    }
}