.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(17, 16, 33);
    color: #fff;
}

.footer .column {
    flex: 1;
    margin-right: 20px;
    overflow: auto;
}

.footer .column:last-child {
    margin-right: 0;
}

.footer img {
    max-width: 100%;
}

.footer .social-icons {
    display: flex;
    gap: 10px;
}

.footer .contact-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer .contact-info a {
    color: #fff;
    text-decoration: none;
}

.footer .hours, .footer p {
    margin: 0;
    margin-top: 10px;
}
.footer-logo {
    width: 30vh;
}
.rappi-logo {
    padding-top: 1vh;
    padding-left: 1vh;
    width: 40px; /* Set the width of the Rappi logo */
    height: 40px; /* Set the height of the Rappi logo */
}
@media (max-width: 600px) {
    .column:has(img) {
        display: run-in;
    }
    .footer {
        flex-direction: column;
    }

    .footer .column img {
        max-width: 100%; /* Ensure images scale down to fit their container */
    }

    .footer .column {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer .column:last-child {
        margin-bottom: 0;
    }

    .footer .contact-info, .footer .hours, .footer p {
        font-size: 14px;
    }
}