.container {
    padding-top: 10vh;
    padding-left: 3%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(17, 16, 33);
    color: #ffffff;
    font-family: 'David Libre', serif;
    flex-direction: row;
    text-align: start;
}

.column {
    flex: 1 0 40%;
    /* Do not grow or shrink, base width 40% */
    padding-right: 70px;
    padding-bottom: 70px;
    padding-left: 70px;

}

.column-main {
    padding-left: 70px;
    flex: 1 0 40%;
    /* Do not grow or shrink, base width 40% */

}

.column:first-child {
    margin-left: 6%;
}

.column:last-child {
    flex: 0 0 54%;
    /* Do not grow or shrink, base width 54% */
}

.column img {
    max-width: 100%;
    height: auto;
}

.second-button {
    background-color: #EA4D27;
    margin-left: 10px;
}

.new-section h1 {
    color: #EA4D27;
}

.botton_menu{
    background-color: #EA4D27;
    color: #ffffff; /* Esto es para asegurar que el texto del botón sea visible */
}
.tit_alt {
    font-size: 6vh;
}
@media (max-width: 600px) {
    .centered-title {
        font-size: 6vh; /* Adjust as needed */
      }
    .container{
        overflow: hidden;
    }


    .column-main {
        padding: 30px;
        padding-top: 22vh;
    }

    .column {
        width: 100%;
        padding-top: 12vh;
        padding-right: 0;
    }

    .column:first-child {
        margin-left: 0;
    }

    .column:has(img) {
        display: none;
    }
    .new-section h1 {
        font-size: 6vh;
    }
    .new-section h2 {
        font-size: 6vh;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .button-container button {
        padding: 8px 16px; /* Adjust as needed */
        font-size: 16px; /* Adjust as needed */
    }
}