.home_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.column-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.main-button,
.second-button,
.botton_menu {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.main-button {
    background-color: #F39304;
    color: white;
}

.second-button,
.botton_menu {
    background-color: white;
    color: #F39304;
    border: 2px solid #F39304;
}

.centered-title,
.title_alt,
.tit_alt {
    text-align: center;
    color: #F39304;
}
.home_container h2 {
    font-size: 6vh;
}
.home_container p, h3{
    color: white;
    font-size: larger;
    font-weight: 500;
}

.home_container h3{
    font-size: 4vh;
}

.restaurant_image{
    padding: 16vh;
}

.home_container img{
    padding: 10vh;
}
@media (max-width: 768px) {
    .centered-title{
        padding-top: 30vh;
    }
    .home_container{
        margin-bottom: 15vh;
    }
    .column.has-image {
        display: none;
    }
}