:root {
  --font-family-inter: 'Inter', sans-serif;
  --color-white: #ffffff;
  --color-our-blue: #0A4059;
  --color-our-blue-gray: #475B70;
  --color-our-orange: #F39B37;
  --color-our-orange-light: #FDB47B;
}

body {
  font-family: var(--font-family-inter);
  background-color: var(--color-our-blue-gray);
}